/* Typography */

html {
	font-family: 'Roboto', sans-serif;
}

@media (min-width: 576px) {
	html {
		font-size: 14px;
	}
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

@media (min-width: 992px) {
	html {
		font-size: 18px;
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 20px;
	}
}

.icons-social i {
	font-size: 3em;
}


/* Custom Styles */

main {
	display: flex;
	flex-direction: column;
	min-height: 200vh;
	padding: 0 30px;
	text-align: center;
}
main > .section1 {
	position: relative;
	top: 30vh;
}
main > .section2 {
	position: relative;
	top: 60vh;
}
main > .section1 >.intro {
	font-family: 'Reem Kufi', sans-serif;
	font-size: 3.75em;
	font-weight: 600;
}

main > .section1 > .tagline {
	font-size: 1.5rem;
	margin: 1.5rem 0;
	font-weight: 100;
}

main > .section1 > .icons-social i {
	padding: 10px;
}

.devto {
	margin-bottom: -0.20rem;
}

.devto svg {
	margin-bottom: -0.20rem;
	margin-left: 0.675rem;;
	width: 2.65rem;
	height: 2.65rem;
}

/*bouncing arrow*/
/*
main > .section1 > .bounce > .ct-btn-scroll{
    padding: 10px;
    position: relative;
    top: 15vh;
    font-size: 3em;
    color: #303F9F;
    fill: #303F9F;
}
*/
a#scrollUp2 {
	position: relative;
    animation: 2s ease 0s normal none infinite bounce;
    background: none repeat scroll 0 0 #303F9F;
    font-size: 3em;
    color: #fff;
    max-width: 60px;
    max-height: 70px;
    top: 45vh;
	left: 93vh;
}
/*go to Top bouncing arrow*/
a#scrollUp {
    animation: 2s ease 0s normal none infinite bounce;
    background: none repeat scroll 0 0 #303F9F;
    bottom: 0;
    color: #fff;
    padding: 5px 10px;
    right: 10px;
}


@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
	40% {-webkit-transform: translateY(-30px);}
	60% {-webkit-transform: translateY(-15px);}
}

@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
	40% {-moz-transform: translateY(-30px);}
	60% {-moz-transform: translateY(-15px);}
}

@-o-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
	40% {-o-transform: translateY(-30px);}
	60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}

.animated.bounce {
	-webkit-animation-name: bounce;
	-moz-animation-name: bounce;
	-o-animation-name: bounce;
	animation-name: bounce;
}